version: '3.8'

services:
  python-app:
    build: ./
    volumes:
      - ./bot:/usr/local/share/bot
    working_dir: /usr/local/share/bot
    command: python main.py
    restart: unless-stopped
    networks:
      - app-network
    logging:
      options:
        max-size: 10m
    depends_on:
      - db
      - redis
      - lavalink

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:latest
    container_name: lavalink
    restart: unless-stopped
    environment:
      - _JAVA_OPTIONS=-Xmx2G
      - SERVER_PORT=2333
      - LAVALINK_SERVER_PASSWORD=youshallnotpass
    volumes:
      - ./application.yml:/opt/Lavalink/application.yml:ro
      - ./logs:/opt/Lavalink/logs
    ports:
      - "2333:2333"
    networks:
      - app-network
    logging:
      options:
        max-size: 10m
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:2333/version"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "5431:5432"
    logging:
      options:
        max-size: 10m


  redis:
    image: redis:6-alpine
    container_name: redis
    ports:
      - "127.0.0.1:6379:6379"
    environment:
      REDIS_ENABLED: "true"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_DB: "0"
    volumes:
      - redisdata:/data
    networks:
      - app-network
    logging:
      options:
        max-size: 10m

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
  redisdata: